<footer class="site-footer c-uhf">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div>
      <div>
          <nav class="c-uhf-nav" aria-label="Microsoft corporate links">
            <ul class="c-uhf-list f-bare">
                <li><a href="mailto:{{ site.email }}">Contact Us</a></li>
                <li><a href="http://go.microsoft.com/fwlink/?LinkId=518021">Privacy &amp; Cookies</a></li>
                <li><a class="text-reset" href="https://go.microsoft.com/fwlink/?LinkID=246338">Terms of Use</a></li>
                <li><a class="text-reset" href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx">Trademarks</a></li>
                <li><p>© 2022 Microsoft</p></li>
            </ul>
          </nav>
      </div>
    </div>
  </footer>
  